<footer class="bg-dark p-4">
    <div class="container text-white">
        <div class="row">
            <div class="col-md-6">
                <a href="#" class="text-white text-decoration-none">help@userdata.com</a>
            </div>
            <div class="col-md-6 text-md-end">
                <span>Social media:</span>
                <a href="#" class="text-white pe-2 ps-2"><i class="fa-brands fa-github"></i></a>
                <a href="#" class="text-white pe-2"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="text-white pe-2"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="#" class="text-white"><i class="fa-brands fa-square-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>
