<!-- Header -->
<app-header></app-header>

<!-- main Functionality -->
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Search items from list</h2>
      <app-user-form (searchTextChanged)="onSearchTextEntered($event)"></app-user-form>
      <h1>List of items shows here</h1>
   
      <!-- Show List Date Here -->
      <table class="table">
         <thead>
           <tr>
             <th scope="col">Episode ID</th>
             <th scope="col">Episode Name</th>
             <th scope="col">Release Date</th>
             <th scope="col">Producer</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let user of users?.results">
             <ng-container *ngIf="searchText === '' || user.title.toLowerCase().includes(searchText)">
               <th scope="row"> {{user.episode_id}}</th>
               <td> {{user.title}}</td>
               <td>{{user.release_date}}</td>
               <td>{{user.producer}}</td>
             </ng-container>
           </tr>
         </tbody>
      </table>
    </div>

    <div class="col">
      <app-user-custom-list #usernew></app-user-custom-list>

      <p>You have selected: {{ usernew.selctedUsers?.name }}</p>
    </div>
  </div>
</div>

<app-footer></app-footer>

<router-outlet></router-outlet>
